<!DOCTYPE html>
<html>

<head>
  <title>复杂表单——三级联动</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<style>
  select {
    width: 100px;
  }

  .valid {
    display: none;
  }

  .valid.show {
    display: inline-block;
    color: red;
  }
</style>

<body>
  <div>
    省：
    <select name="region" id="region" onchange="selectProvince(this)">

    </select>
    市：
    <select name="city" id="city" onchange="selectCity(this)">

    </select>
    区：
    <select name="county" id="county" onchange="selectArea(this)">

    </select>
  </div>

  <br>

  <div>
    <!-- 用户注册 -->
    <form action="" id="form">
      username:<input type="text" id="username" oninput="usernameChange()" pattern="^[a-zA-Z]\w{5,17}$">
      <div class="username valid"></div><br>
      password:<input type="password" id="password" oninput="passwordChange()" pattern="^\w{6,18}$">
      <div class="password valid"></div><br>
      确认密码:<input type="password" id="repeatPassword" oninput="repeatChange()">
      <div class="repeatPassword valid"></div><br>
      <button type="submit" @click.prevent="submit()"> 提交</button>
    </form>
  </div>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
  <script>
    var regionSel = document.getElementById('region')
    var citySel = document.getElementById('city')
    var countySel = document.getElementById('county')
    function createOption(node, data) {
      var option = document.createElement('option')
      var html = `<option value="${data.name}" data-index="${data.code}">${data.name}</option>`
      option.innerHTML = html
      node.appendChild(option)

    }

    $.ajax({
      method: 'get',
      url: '/getRegions',
      success: function (res) {
        res.data.forEach(item => {
          createOption(regionSel, item)
        });
      }
    })


    regionSel.onchange = function () {
      var regionIndex = regionSel.selectedIndex
      $.ajax({
        method: 'get',
        url: '/getCity?regionIndex=' + regionIndex,
        success: function (res) {
          res.data.forEach(item => {
            createOption(citySel, item)
          })
        }
      })
    }

    citySel.onchange = function () {
      var cityIndex = citySel.selectedIndex
      $.ajax({
        method: 'get',
        url: '/getCounty?cityIndex=' + cityIndex,
        success: function (res) {
          res.data.forEach(item => {
            createOption(countySel, item)
          })
        }
      })
    }

    countySel.onchange = function () {
      var countIndex = countySel.selectedIndex
      $.ajax({
        method: 'get',
        url: '?countIndex=' + countIndex,
        success: function () {
          console.log("已选择")
        }
      })
    }


    var username = document.getElementById("username")
    var password = document.getElementById("password")
    var repeatPassword = document.getElementById('repeatPassword')


    function usernameChange() {
      var usernameValid = $('.username.valid')
      if (username.validity.patternMismatch === true) {
        usernameValid[0].innerText = '请输入以字母开头的6-18个字符'
        usernameValid.addClass('show')
      } else {
        usernameValid.removeClass('show')
        $.ajax({
          method: 'get',
          url: '/validName',
          data: { username: username.value },
          success: function (res) {
            console.log(res);
            if (res.data) {
              usernameValid[0].innerText = res.info
              usernameValid.addClass('show')
            } else {
              usernameValid.removeClass('show')
            }
          }
        })
      }

    }
    function passwordChange() {
      var passwordValid = $('.password.valid')

      if (password.validity.patternMismatch === true) {
        passwordValid[0].innerText = '请输入6-18个字符'
        passwordValid.addClass('show')
      } else {
        passwordValid.removeClass('show')
      }

    }
    function repeatChange() {
      var repeatValid = $('.repeatPassword.valid')

      if (repeatPassword.value != password.value) {
        repeatValid[0].innerText = '请确认密码是否正确'
        repeatValid.addClass('show')
      } else {
        repeatValid.removeClass('show')
      }
    }

    setTimeout(function submit() {
      $.ajax({
        method: 'get',
        url: "/user",
        data: {
          username: username.value,
          password: password.value
        },

        success: function (res) {
          console.log(res);
          if (res.err === 0) {
            alert(res.data)
          }
        }

      })
    }, 1000)
  </script>
</body>

</html>
